<h1 class="component-title">Complaints</h1>
<div class="filter">
    <label for="place-input">Place:</label>
    <select name="complaint-place-select" id="complaint-place-select" [(ngModel)]="selectedPlace"
        (change)="filterComplaints()">
        <option value="">All</option>
        <option *ngFor="let place of complaintPlaces" [value]="place">{{ place }}</option>
    </select>

    <label for="type-input">Type:</label>
    <select name="complaint-type-select" id="complaint-type-select" [(ngModel)]="selectedType"
        (change)="filterComplaints()">
        <option value="">All</option>
        <option *ngFor="let type of complaintTypes" [value]="type">{{ type }}</option>
    </select>

    <label for="situation-input">Situation:</label>
    <select name="complaint-situation-select" id="complaint-situation-select" [(ngModel)]="selectedSituation"
        (change)="filterComplaints()">
        <option value="">All</option>
        <option *ngFor="let situation of complaintSituation" [value]="situation">{{ situation }}</option>
    </select>
</div>

<div class="complaint-cards row row-cols-1 row-cols-md-2 g-4">
    <div class="col-md-4" *ngFor="let complaint of complaints">
      <div class="card border-right">
        <div class="card-body row">
          <div class="col-9">
            <p class="complaint-title card-text"><strong>{{ complaint.description }}</strong></p>
            <p class="card-text"><i class="bi bi-calendar-week-fill"></i> {{ complaint.datetime | date }} - <span *ngIf="complaint.at_moment; else notAtMoment">At Moment</span><ng-template #notAtMoment>Not At Moment</ng-template></p>
            <p class="card-text"><i class="bi bi-geo-alt-fill"></i> {{ complaint.place }}</p>
            <p class="card-text"><i class="bi bi-tag-fill"></i> {{ complaint.type }}</p>
          </div>
          <div class="col-3 text-center">
            <p [ngClass]="{'situation-unsolved': complaint.situation == 'unsolved', 'situation-inprogress': complaint.situation == 'in progress', 'situation-solved': complaint.situation == 'solved'}">{{ complaint.situation }}</p>
          </div>
        </div>
      </div>
    </div>
</div>